.container {
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 1rem 0rem;
  width: 100%;
  overflow-x: auto;
}

.table {
  width: max-content;
}

.pagination {
  align-self: flex-start;
}

@media screen and (max-width: 720px) {
  .pagination {
    align-self: center;
  }
}
